BODY {
    font-family: "didot", sans-serif;
    margin: 1em 15%;
    text-align: justify;
}
H2 { height: 36px }
/* Chartreuse background for titles */
H1, H2, H3 { background: #7FFF00; border: thin solid black; padding: 5px }
H4 { margin: 15pt 0 0 0 }
