:root { color-scheme: light }
@media (prefers-color-scheme: dark) {
  :root { color-scheme: dark }
}
BODY {
  font-family: "didot", sans-serif;
  margin: 1em 20%;
  text-align: justify;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}
H2 { height: 36px }
H1, H2 {
  background: light-dark(#445571, #667793);
  color: white;
  padding: 5px;
}
H3 {
  color: light-dark(#445571, #667793);
  border-bottom: 1px solid light-dark(#445571, #667793);
  padding: 5px;
}
H4 { margin: 15pt 0 0 0 }
